body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  overflow: hidden;
  color: #333333
}

body a {
  text-decoration: none;
}

#map {
  height: 250px;
  width: 100vw;
  position: absolute;
  /*border-bottom: 3px solid goldenrod; */
  top: 0;
  left: 0;
}

#narration {
  position: absolute; 
  top: 250px; /* should match height of #map plus some buffer if desired */
  width: 100vw;
  height: calc(100vh - 203px);
  z-index: 80;
  background-color: white;
}

#contents {
  padding: 0;
  width: 100%;
  margin-top: 0; /*Adjust if Title header needs more space */
  height: 100%; 
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 12px;
  scrollbar-color: #edf7fa #00718f;
}

#contents::-webkit-scrollbar {
  width: 12px;
  background-color: #edf7fa; /*#00718f33;*/
}

#contents::-webkit-scrollbar-thumb {
  background: #00718f;
}

#top {
  /* height: 250px; */
  height: 0px;
  margin: 0;
}

#space-at-the-bottom {
  height: 200px;
  margin: 0;
  text-align: center;
  padding-top: 150px;
}

#title {
/*  position: absolute; */
  position: relative;
  left: 0;
  /*top: 203px;*/
  background-color: white;
  width: 100vw;
  z-index: 100;
  margin: 0;
  padding: 0;
  visibility: hidden;
  font-weight: bold;
  text-align: center;
}

.chapter-container {
  /* margin + padding = chapterContainerMargin in script.js */
  /* Important for scrolling! */
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  text-align: center;
}

/*
.chapter-container img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.img-container {
  margin: 0;
  margin-bottom: 5px;
  height: 200px;
  max-height: 200px;
  width: 100%;
}

.audio-container {
  margin: 0;
  margin-bottom: 5px;
  height: 60px;
  max-height: 60px;
  width: 100%;
}

.chapter-header {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 0 5px;
}

.source {
  font-size: 0.7em;
  font-style: italic;
  color: #00000088;
  padding: 0 20px;
}
a.source:visited {
  color: grey;
}

.image {
  /* background-size: cover;
  background-position: center; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.description-wrapper {
  margin: 5px 10px;
  padding: 5px 10px;
}

.description-main {
  text-align: left;
  font-size: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.description-detail {
  text-align: left;
  font-size: 1.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 300;
}

.description-main strong, .description-main .taxon {
  font-weight: bolder;
}

.description-detail strong, .description-detail .taxon {
  font-weight: normal;
}

.tooltip {
  font-style: normal;
}

.in-focus {
  opacity: 1.0;
  background-color: #edf7fa;
}

.out-focus {
  opacity: 0.3;
}

.leaflet-control-attribution {
  visibility: hidden;
  font-size: smaller;
  font-family: 'Lato';
  line-height: 1.2em;
  padding: 0.5em;
}


/*
By default, current (active) marker is orange.
If you want to change the color, see options here: https://github.com/coryasilva/Leaflet.ExtraMarkers/blob/master/src/assets/css/leaflet.extra-markers.css
*/
/*
.leaflet-marker-icon {
  opacity: 0.75;
}
.marker-active {
  background-position: -72px 0 !important;
}
*/

/* style for basic img icon */
.leaflet-marker-icon {
  object-position: left;
  object-fit: cover;
}
/* style for div icon; this supports numbers */
.leaflet-marker-icon-div {
  background-image: url("../markers/pin.svg");
  background-size: cover;
  background-position-x: left;
  margin: 0 auto;
  text-align:center;
  color:white;
  font-weight: bold;   
}
.leaflet-marker-icon-div p {
  margin: 0;
  position: relative;
  top: 7px;
} 
/* style for active icon, either of the above */
.marker-active {
  object-position: right;
  background-position-x: right;
  color: black;
  z-index: 9999 !important;
}


/* Storymap logo image above the title */
#logo {
  height: 40px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  max-width: 100%;
}

#logo img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

#header {
  padding: 20px;
  text-align: center;
  color: #333;
}

/* Storymap title & subtitle */
h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  color: #004557;
}

.map-subtitle {
  margin: 0;
  font-size: 1.3em;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-size: 1.1em;
  color: #004557;
}

a, a:visited, a:hover {
  color: #6388b6; 
}

.gallery-container {
  margin: 0;
  margin-bottom: 5px;
  height: 250px;
  max-height: 250px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: 12px;
  scrollbar-color: #00718f00 #00718f;
}

.gallery-first-item, .gallery-other-item {
  display: inline;
  height: auto;
  width: auto;
  max-height: 100%;
}

.gallery-container::-webkit-scrollbar {
  height: 12px;
  background-color: #00718f00; /*#00718f33;*/
}
.gallery-container::-webkit-scrollbar-thumb {
  background: #00718f;
}

/* legend overlay for desktop view */
/* visibility:hidden is overridden on style-desktop.css */

#legend {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: white;
  padding: 5px;
  display: none;
  visibility: hidden;
}

/* this should match the dimensions/positioning of the map */
#non-map-content {
  height: 200px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: none;
  z-index:9999;
}

/* navigation bar */
#nav-bar {
  /* height: 50px; */
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  background-color: white;
  z-index: 9999;
}
.nav-heading-item {
  display: inline-block;
  padding: 2px 4px 3px 4px;
  margin: 2px;
  background-color: #00718f;
}
.nav-heading-item a {
  text-decoration: none;
  color: white;
  font-size: smaller;
}
.nav-heading-item-selected {
  background-color: goldenrod;
}

/* .nav-bar-fixed {
  position: absolute;
  top: 60px;
  white-space: nowrap;
} */

#layer-credit-wrapper {
  display: inline;
}

.marker-section-active {
  display: inherit;
}
.marker-section-inactive {
  display: none;
}

.leaflet-shadow-pane {
  display: none;
}


/* STYLE SHEET FOR BIRD TAXON TOOLTIP */

.taxon {
  font-weight: bold;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.taxon .tooltip {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  background-color: #00718fdd;
  opacity: 0;
  transition: opacity 0.3s;
/*  visibility: hidden;
  width: 350px;
  background-color: #555555dd;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  */
}

/*.taxon .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

.taxon:hover, .taxon:active {
  color: #00718f;
}

.taxon:hover .tooltip, .taxon:active .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-title {
  color: white;
  text-transform:uppercase;
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
  margin-bottom:0px;
}

.tooltip-subtitle {
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  margin-top:0px;
}
.tooltip-subtitle em {
  font-weight: 300;
}

.tooltip ul {
  margin: 5px;
  padding: 0px;
  font-size: 10px;
}
.tooltip ul li {
  list-style: none;
}
.tooltip ul li a {
  display: block;
  margin: 3px;
  padding: 3px;
  color: white;
  text-decoration: none;
}

.tooltip ul li a:hover, .tooltip ul li a:active {
  color: goldenrod;
}

.tooltip-image {
  height: auto;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position:static !important;
  top: 100% !important; 
  transform: translateY(0) !important;
}

/* LIGHTBOX */
.lb-image {
  border: none !important;
}

#back-to-top {
  position: absolute;
  background-color: #00718f;
  color: white;
  z-index: 9999;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  top: 5px;
  right: 5px;
  visibility: hidden;
}